<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="dubbo-3x.log"/>
    <property name="LOG_FILE_MAX_HISTORY" value="7"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.dubbo" level="debug"/>

    <appender name="FILE-LOG-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>2048</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="CONSOLE-LOG-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>2048</queueSize>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE-LOG-ASYNC"/>
        <appender-ref ref="FILE-LOG-ASYNC"/>
    </root>

</configuration>
